.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
  transition: margin-left 0.3s ease;
}

.aside-bar.open ~ .main-content {
  margin-left: 250px; /* El ancho del sidebar cuando está abierto */
}
