.aside-bar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
  }
  
  .aside-bar.open {
    left: 0;
  }
  
  .toggle-button {
    position: absolute;
    top: 20px;
    left: 250px; /* Posiciona el botón fuera de la barra cuando está abierta */
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .toggle-button svg {
    width: 24px;
    height: 24px;
  }
  
  .logo h1 {
    display: none; /* No necesitamos el logo de texto ya */
  }
  
  .aside-content ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 10px;

    border-radius: 8px;
    color: #004aad;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menu-item:hover {
    background-color: #d0e5ff;
  }
  
  .menu-icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    color: #004aad;
  }
  
  .menu-item:last-child {
    margin-bottom: 0;
  }
  